@charset "UTF-8";

h1 {
    font-family: 'Passion One';
    font-weight: bold;
}

p {
    font-family: 'Sriracha';
}

body {
    margin: 0px;
    padding: 0px;
    border: 3px solid black;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 25px;
    min-height: 100px;
}

header h1 {
    font-size: 3em;
    margin-top: -15px;
    padding: 10px;
}

header p {
    font-size: 15px;
    font-family: 'Passion One';
    font-weight: normal;
    color: rgb(230, 230, 230);
    margin-top: -25px;
}

p {
    padding: 0px 10px 5px 10px;
    padding-right: 100px;
}

div.image {
    display: inline-block;
    background-color: black;
    width: auto;
    height: 300px;
}
.txtimg {
    color: white;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.315);
}
#bloco1 {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}
#bloco2 {
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}